* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: purple;
}

nav {
    background-color: green;
}

section {
    background-color: #5c8dcd;
}

aside {
     background-color: hotpink;
}

footer {
    background-color: khaki;
}

.row {
    width: 100%;
    overflow: hidden;
}

[class*="col-"] {
    float: left;
}
















@media only screen and (max-width: 999px) {
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1000px) {

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.33%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
}