$primary-color-light : white;
$primary-color-light-low-opacity : rgba(255, 255, 255, 0.2);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-image: linear-gradient(to right bottom,#8360c3, #2ebf91);
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    text-align: center;
    
    &__primary {
       color: $primary-color-light;
       font-weight: 1000;
       margin-top: 1rem;
       font-size: 3rem;
       font-family: inherit
    }

    &__secondary {
        color: $primary-color-light;
        margin-top: 3rem;
        
    }
}

.navMenu {

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    max-width: 50rem;

    &__button {
        flex-direction: row;
        // margin: auto;
        margin-top: 1rem;
        width: 10rem;
        

        &-click {
            text-decoration: none;
            display: inline-block;
            color: $primary-color-light;
            border: solid 3px $primary-color-light;
            border-radius: 10px;
            // padding: 1rem 3rem;
            min-width: 10rem;
            height: 3rem;
            line-height: 3rem;
            text-align: center;

            &:hover {
                background-color: $primary-color-light-low-opacity;
                outline: 1px solid $primary-color-light;
            }

        }
    }
}

.chatMessages {
    border: solid 4px $primary-color-light;
    border-radius: 10px;
    margin: auto;
    height: 60vh;
    max-width: 50rem;
    overflow-y: scroll;
    margin-top: 1rem;
    word-wrap: break-word;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

}

.messageInput, .usernameInput {
    text-align: center;

    &__field {
        background-color: transparent;
        border: 3px solid $primary-color-light;
        border-radius: 10px;
        height: 3rem;
        width: 30rem;
        margin-top: 1rem;
        color: $primary-color-light;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: $primary-color-light-low-opacity;
        }
        
    }

    &__button {
        border-radius: 10px;
        border: 3px solid $primary-color-light;
        height: 3rem;
        width: 5rem;
        font-size: 20px;
        font-weight: 100;
        background-color: transparent;
        color: $primary-color-light;
        cursor: pointer;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        
        
    }

}

.iconName {
    border: 3px solid $primary-color-light;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    width: 3rem;
    font-size: 2rem;
    color: $primary-color-light;
    text-transform: uppercase;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.textMessage {
    border: 3px solid $primary-color-light;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    min-height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    width: 60%;
    color: $primary-color-light;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: auto;
    text-align: left;
    padding-left: 1rem;
}

.time {
    border: 3px solid $primary-color-light;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    max-height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    width: 20%;
    color: $primary-color-light;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    overflow: auto;
    text-align: left;
    padding-left: 1rem;
    margin-right: 1rem;
}


.listElement {
    display: flex;
    justify-content: space-between;
}


::-webkit-scrollbar {
    width: 1.5rem;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius:20px;
    overflow: hidden;
  }
  

  ::-webkit-scrollbar-thumb {
    background: $primary-color-light-low-opacity;
    border-radius: 20px;
    border: 5px solid transparent;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: $primary-color-light-low-opacity;

  }