
body {
  padding: 0;
  margin: 0;
}
span {
  border: 2px solid black;
  display: inline-block;
  width: 50%;
  height: 40px;
}
#leviBox {
  float: left;
  background-color: #f0e374;
}

#desniBox {
  float: right;
  background-color: silver;
}

* {
  box-sizing: border-box;
}