.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .colorPicker {
    transform: scale(0.7);
  }
}

$color-primary-light: white;
$color-primary-light-opacity: rgba(255, 255, 255, 0.5);

@mixin border {
  border: 3px solid $color-primary-light;
  background-color: transparent;
  border-radius: 15px;
  color: $color-primary-light;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to right bottom, #22c1c3, #fdbb2d);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.header {
  text-align: center;
  color: $color-primary-light;

  &__primary {
    font-size: 50px;
    margin-top: 40px;
  }

  &__secondary {
    margin-top: 15px;
    font-size: 20px;
  }
}

.navMenu {
  margin-top: 15px;

  &__button {
    @include border;
    cursor: pointer;
    height: 50px;
    width: 80%;
    margin: 3px auto;
    display: block;
    transition: 0.6s;

    &:hover,
    &:visited {
      background-color: $color-primary-light-opacity;
      transform: scale(1.2);
    }
  }
}

.chatMessages__list {
  overflow: auto;
  height: 500px;
}

.chatMessages {
  @include border;
  width: 95%;
  margin: 13px auto;
  word-wrap: break-word;

  &__list {
    list-style-type: none;
  }
}

.dateSearchFrame {
  margin-left: 1.3%;
  margin-right: -1.3%;
  font-size: medium;
  padding: 10px;
}

.dateSearch__button {
  width: 80%;
  margin: 10px auto;
  display: block;
  transition: 0.5s;
  cursor: pointer;
  @include border;
  height: 50px;

  &:hover {
    transform: scale(1.1);
    background-color: $color-primary-light-opacity;
  }
}

.dateSearch__input {
  &--primary,
  &--secondary {
    width: 47.5%;
    display: inline-block;
    @include border;
    height: 50px;
    text-align: center;
  }
}

.message,
.username {
  &__input {
    width: 94%;
    margin: auto;
    display: block;
    text-align: left;
    font-size: medium;
    padding: 10px;

    &:focus {
      outline: none;
      border: 5px solid $color-primary-light;
    }
  }

  &__submit {
    width: 80%;
    margin: auto;
    display: block;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      background-color: $color-primary-light-opacity;
    }
  }

  &__input,
  &__submit {
    @include border;
    height: 50px;
    margin-top: 15px;
  }
}

.colorPicker {
  position: absolute;
  top: 2%;
  left: 2%;
  transition: 1s;

  &__submit {
    border-radius: 50%;
    height: 25px;
    vertical-align: middle;
    width: 25px;
  }
}

::-webkit-scrollbar {
  width: 1.5rem;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-light-opacity;
  border-radius: 20px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.3);
  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.listElement {
  float: left;
  clear: both;
  content: "";
  word-break: break-all;
  word-wrap: break-word;
  display: block;
  max-width: 500px;
}

.listElement__active {
  float: right;
  clear: both;
  content: "";
  display: block;
  max-width: 500px;
}

.textMessage {
  border: 3px solid $color-primary-light;
  border-radius: 0px 20px 20px 20px;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  display: inline-block;
  min-height: 60px;
  line-height: 30px;
  text-align: left;
  color: $color-primary-light;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding: 0rem 1rem;
  vertical-align: middle;
  word-wrap: break-word;
  word-break: break-all;

  &__active {
    border-radius: 20px 0px 20px 20px !important;
  }
}

.material-icons {
  float: right;
  display: block;
  cursor: pointer;
  margin: auto;
  opacity: 0.5;
  transition: 0.5s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

input[type="color"],
.colorPicker__submit {
  -webkit-appearance: none;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 1px;

  &:hover {
    padding: 2px;
  }
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.usernameLogo {
  @include border;
  display: inline-block;
  border-radius: 20px;
  position: absolute;
  right: 2%;
  top: 1%;
  height: 40px;
  width: 40px;
  vertical-align: bottom;
  text-align: center;
  font-size: 26px;
}
