.crveni_paragraf {
  color: red;
}
.desno_poravnjanje {
  text-align: right;
}
h3,
h4 {
  color: orange;
}
.drugi,
#treci {
  background-color: yellow;
}
li {
  color: green;
}
.kurs {
  color: blue;
}
#js {
  color: red;
}
div p {
  text-decoration: underline;
}
